body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* Hover */
.tele:hover {
    border-bottom: 1px solid rgb(251, 255, 0);
}

a {
    text-decoration: none;
    color: #050052;
    font-weight: bold;
    font-size: 14px;
}

.container {
    width: 1200px;
    margin: auto;
}

.bosh_menyu {
    background: #79c471;

}

.bosh_menyu2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.autorizatsiya {
    width: 575px;
    display: flex;
    justify-content: space-between;
}

.kirish {
    display: flex;
    padding-right: 15px;

}

.line {
    border: 1px solid #05005f;
    margin-right: 24px;
}

.kirish2 {
    display: flex;
    align-items: center;
    padding-left: 22px;
}

.line:nth-child(4) {
    margin-left: 24px;
    margin-right: 0px;
}

/* ********************burger menyi**************** */
.nav_togle {
    display: none;
    padding: 30px, 0;
    font-size: 0px;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
    width: 30px;
}

.nav_togle_item {
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: rgb(5 0 82);
}

.nav_togle_item:before,
.nav_togle_item:after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: rgb(5 0 82);
    transition: transform.3s linear;
}

.nav_togle.active .nav_togle_item {
    background: none;
}

.nav_togle.active .nav_togle_item:before {
    transform-origin: left top;
    transform: rotate(45deg)translateX(-3px);
}

.nav_togle.active .nav_togle_item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translateX(-4px);
}

.nav_togle_item:before {
    top: -8px;

}

.nav_togle_item:after {
    bottom: -8px;
}

/*********** bosh_menyu ***************/
.bosh_menyu3 {
    display: flex;
    align-items: center;
    height: 62px;
    background: #e8e8e8;
}

.pochta_manzil {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1.5px solid #79c47100;
    transition: .5s;
}

.pochta_manzili:hover {
    border-bottom: 1.5px solid #79c471;

}

.pochta {
    display: flex;
    align-items: center;
}

.pochta_icon {
    padding-left: 47px;
    padding-right: 17px;
}

/* ************bosh_menyu3*********************** */
.bosh_menyu_4 {
    background: #fff;
}

.boch_menyu4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;

}

.test1 {
    border-bottom: 1px solid #79c47100;
    transition: .5s;
}

.test1:hover {
    border-bottom: 1px solid #79c471;
}

.test {
    padding-top: 15px;
}

.test:nth-child(4) {
    padding-left: 85px;
}

.test:nth-child(3) {
    padding-left: 55px;
}

.test:nth-child(2) {
    padding-left: 25px;
}

.test:nth-child(1) {
    padding-left: 0px;
}

.bosh_menyu4 {
    width: 230px;
}

.line2 {
    width: 100px;
    height: 1px;
    background: #79c471;
}

/* ************asosiy_menyu2*************** */
.asosiy_menyu {
    display: flex;
    background-color: #79c471;
    height: 58px;
    align-items: center;
    margin-top: 35px;
}

.asosiy_menyu2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menyu1 {
    display: flex;
    align-items: center;
}

.library {
    padding-right: 25px;
}

/* *********************** */
.asosiy_qism {
    display: flex;
}

.menyular_satri {
    display: flex;
    width: 192px;
    height: 100%;
    background: #fff;
    flex-direction: column;
    align-items: flex-start;

}

.kitoblar_kolleksiyasi {}

section {
    background: #eee;
    padding-top: 13px;
}

.linee {
    width: 100%;
    height: 1px;
    background-color: #79c471;
    margin-top: 9px;
}

.menyular {
    margin-left: 10px;
    padding-top: 15px;
    font-size: 14px;
    transition: 0.5s;
    border-bottom: 1.5px solid #79c47100;
}

.menyular a {
    font-size: 14px;
}

.menyular:hover {
    border-bottom: 1.5px solid #79c471;
}

.kitoblar_kolleksiyasi {
    margin-left: 16px;
    margin-bottom: 15px;
    position: relative;
    height: 212px;
    border: 1px solid #79c471;
}

.kitoblar {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.hover_effekt {
    position: absolute;
    background-color: #79c47129;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: #fff0;
    font-weight: bold;
    transition: 0.5s;
}


.hover_effekt:hover {
    background-color: #226702cf;
    color: rgb(255, 255, 255);
}

.kitob_nomu {
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.kitob_muallifi {
    padding-bottom: 10px;
    font-size: 12px;
}

/* **********HEADE*********** */
footer {
    height: 200px;
    background-color: #79c471;
}

.sayt_haqida {
    display: flex;
    padding-top: 20px;
}

.sayt_haqidagi_malumotlar {
    padding-right: 136px;
}

.sayt {
    padding-bottom: 20px;
}

.huquqlar {
    padding-bottom: 42px;
    line-height: 25px;
}

.kontaktlar {
    padding-bottom: 20px;
}

.telefon2 {
    padding-bottom: 20px;
}

.telefon {
    padding-right: 11px;
}

.tele {
    transition: .5s;
    border-bottom: 1px solid rgba(251, 255, 0, 0);
}

.autorizatsiya .menyu1 {
    display: none;
}

/* ********MEDIA ZAPROS******** */
@media (max-width: 1200px) {
    .container {
        width: 1000px;
    }

}

@media (max-width: 1000px) {
    .container {
        width: 992px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 768px;
    }
    a {
        font-size: 12px;
    }

    .pochta_manzili {
        font-size: 14px;
    }

    .logotip {
        display: none;
    }

    .test {
        font-size: 14px;
    }

    .darsliklar {
        font-size: 12px;
    }

    .menyular {
        font-size: 14px;
    }

    .menyular a {
        font-size: 12px;
    }

    .asosiy_menyu {
        display: flex;
    }

    .menyular_satri {
        width: 252px;
    }

    .kitoblar_kolleksiyasi {
        margin-left: 30px;
    }

    .sayt_haqidagi_malumotlar {
        padding-right: 12px;
    }

    .autorizatsiya {
        width: 475px;
    }

    .line {
        margin-right: 12px;
    }

    .line:nth-child(4) {
        margin-left: 12px;
    }

    .yuklab_olish a {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 576px;
        position: relative;
    }

    .autorizatsiya {
        display: none;
        width: 100%;
        position: absolute;
        margin: auto;
        top: 100%;
        flex-direction: column;
        align-items: flex-end;
        text-align: end;
        background-color: #79c471;
    }

    .active {
        display: flex;
    }

    .kirish2 {
        padding-left: 0px;
        padding-bottom: 10px;
    }

    .darsliklar {
        padding-bottom: 10px;
        padding-right: 15px;
    }

    .autorizatsiya img {
        display: none;
    }

    .autorizatsiya .menyu1 {
        display: block;
    }

    .menyu1 {
        width: 200px;
    }

    a {
        font-size: 10px;
    }

    .line {
        display: none;
    }

    .pochta_manzil {
        display: none;
    }

    .boch_menyu4 {
        display: none;
    }

    .bosh_menyu3 {
        display: none;
    }

    .asosiy_menyu {
        display: none;
    }

    .nav_togle {
        display: block;
    }

    .kitob {
        width: 150px;
        height: 210px;
        overflow: hidden;
        margin: 0 auto;
    }

    .menyular_satri {
        width: 230px;
    }

    .menyular_satri {
        width: 232px;
    }

    .huquqlar {
        font-size: 12px;
    }

    .muallif {
        font-size: 12px;
    }

    .sayt {
        font-size: 12px;
    }

    .kontaktlar {
        font-size: 12px;
    }

    .muallif_bilan_boglanish {
        font-size: 12px;
    }

    .yuklab_olish a {
        font-size: 13px;
    }

    .bosh_menyu--fixed {
        background-color: #79c471;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    section {
        background: #eee;
        padding-top: 80px;
    }

    .kitoblar_kolleksiyasi {
        margin-left: 20px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 376px;
    }

    .menyular_satri {
        width: 200px;
    }

    .menyular a {
        font-size: 10px;
    }

    .menyular {
        padding-top: 15px;
    }

    .telefon2 {
        padding-bottom: 10px;
    }

    .huquqlar {
        padding-bottom: 14px;
    }

    .huquqlar {
        font-size: 8px;
    }

    .muallif {
        font-size: 8px;
    }

    .sayt {
        font-size: 8px;
    }

    .kontaktlar {
        font-size: 8px;
    }

    .muallif_bilan_boglanish {
        font-size: 8px;
    }

    .yuklab_olish a {
        font-size: 12px;
    }
}

@media (max-width: 376px) {
    .container {
        width: 300px;
    }

    .menyular_satri {
        width: 132px;
    }

    .menyular a {
        font-size: 10px;
    }

    .menyular {
        padding-top: 15px;
    }

    .sayt_haqida {
        display: flex;
        padding-top: 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .sayt {
        padding-bottom: 0px;
    }

    .huquqlar {
        padding-bottom: 0px;
    }

    .muallif {
        line-height: 20px;
    }

    .kontaktlar {
        padding-bottom: 10px;
    }

    .telefon2 {
        padding-bottom: 6px;
    }
}

@media (max-width: 300px) {
    .container {
        width: 250px;
    }

    .menyular_satri {
        width: 95px;
    }

    .kitoblar_kolleksiyasi {
        margin-left: 10px;
    }

    .huquqlar {
        line-height: 18px;
    }
}

/* ********MEDIA ZAPROS******** */
.block{
    width: 50px;
    height: 50px;
    background-color: #ff0404;
}
.block1{
    width: 50px;
    height: 50px;
    background-color: #04ff21;
}
